<template>
    <div class="layer">
        <div class="confirm">
            <div class="title">{{title}}</div>
            <div class="actions">
                <button @click="cancel">Cancel</button>
                <button @click="confirm">Confirm</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ConfirmDialog',
    props: {
        title: String,
        confirm: Function,
        cancel: Function
    }
}
</script>

<style scoped>
.layer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.4);
}
.confirm{
    background-color: #fff;
    width: 350px;
    height: 150px;
    border-radius: 10px;
    position: relative;
}
.actions{
    width: 100%;
    height: 40px;
    bottom: 0px;
    position: absolute;
    display: flex;
}
.actions button{
    width: 50%;
    border: none;
    border-top: 1px solid #0086b3;
    cursor: pointer;
}
.actions button:nth-of-type(1){
  border-bottom-left-radius: 10px;
  border-right: 1px solid #0086b3;
  color: red;
  font-weight: 500;
}
.actions button:nth-of-type(2){
  border-bottom-right-radius: 10px;
  color: green;
  font-weight: 500;
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 40px);
}
</style>