<template>
  <div id="dash">
      <div class="d-flex w-100 justify-content-between">
          <div v-if="hasProduct" class="px-3 pt-3 back" @click="back">
                <i class="fa-solid fa-rotate-left"></i>
                <br />back
          </div>
          <div v-else class="px-3 pt-3"></div>
          <div class="px-3 pt-4 logout" @click="openConfirm">
              <i class="fa-solid fa-right-from-bracket"></i>
              <br />exit
          </div>
      </div>
      <page v-if="!hasProduct" />
      <product v-if="hasProduct" />
      <confirm v-if="existConfirm" 
        :title="'Do you really want to leave the program?'"
        :confirm="logout"
        :cancel="closeConfirm" />
        <loader v-if="loading" />
        <error v-if="hasError" />
  </div>
</template>

<script>
import Page from './Page';
import Product from './Product';
import Confirm from './ConfirmDialog';
import Loader from './Loader';
import Error from './Error';

export default {
    name: 'DashBoard',
    components: {
        Page,
        Product,
        Confirm,
        Loader,
        Error
    },
    data(){
        return {
            existConfirm: false
        }
    },
    computed: {
        hasProduct(){
            return this.$store.getters.product !== null;
        },
        hasError(){
            return this.$store.getters.error !== null;
        },
        loading(){
            return this.$store.getters.loading;
        }
    },
    methods: {
        openConfirm(){
            this.existConfirm = true;
        },
        closeConfirm(){
            this.existConfirm = false;
        },
        back(){
            this.$store.dispatch('setProduct',null);
        },
        logout(){
            this.$store.dispatch('logout',{});
            window.location.reload();
        }
    }
}
</script>

<style scoped>
#dash{
    min-height: 90vh;
}
.error{
    font-size: 16px;
    color: red;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}
.back, .logout{
    font-size: 11px;
    cursor: pointer;
}
.back i, .logout i{
    font-size: 20px;
}
</style>
