<template>
    <div class="layer">
        <div class="app-error p-5">{{error}}</div>
    </div>
</template>
<script>
export default {
    name: 'AppError',
    props: {},
    data(){
        return {
            timer: null
        }
    },
    created(){
        this.$nextTick(() => {
            if(this.timer){
                clearTimeout(this.timer);
            }
            //clear after 15s
            this.timer = setTimeout(() => {
                this.clearError();
            }, 15000);
        });
    },
    computed:{
        error(){
            return this.$store.getters.error;
        }
    },
    methods:{
        clearError(){
            this.$store.dispatch('error',null);
        }
    }
}
</script>
<style scoped>
.layer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.4);
}
.app-error{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #fff;
}
</style>
