<template>
  <li class="page-line row" @click="open()">
      <div class="col-xl-1 col-2 text-center">
          <i v-if="!header" class="fa-solid fa-eye"></i>
          <span v-if="header">Open</span>
      </div>
      <div class="col-xl-2 col-3 text-center">{{header ? 'ID' : id}}</div>
      <div class="col">{{header ? 'NAME' : name}}</div>
  </li>
</template>

<script>

export default {
    name: 'PageLine',
    props: {
        id: Number,
        name: String,
        header: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        open(){
            this.$emit('open');
        }
    }
}
</script>
<style>
.page-line{
    border-bottom: 1px solid #ccc;
    color: black;
    cursor: pointer;
}
.page-line i{
    color: #3848AC;
}
.page-line:hover{
    color: #979797;
    cursor: pointer;
}
</style>
