<template>
    <div class="container">
        <div class="row mt-1 mb-3">
            <h1 class="col-12 text-center h4">Product List (Page: {{page ? page.number : '-'}} of {{page ? page.totalPages : '-'}})</h1>
        </div>
        <ul id="productpage" class="w-100">
            <page-line :header="true" />
            <page-line @open="openProduct(product)" v-for="product in products" :key="product.id" :id="product.id" :name="product.name"></page-line>
        </ul>
        <div class="d-flex my-3 page-numbers justify-content-center">
            <button v-if="page && page.number - 5 > 0" @click="openPage(page.number - 5)" class="big-on-mobile"><i class="fa-solid fa-angles-left"></i></button>
            <button v-if="page && page.previous" @click="openPage(page.number - 1)" class="big-on-mobile"><i class="fa-solid fa-angle-left"></i></button>
            <button v-for="n in pages" :key="n" @click="openPage(n)" :class="{'current': n == page.number}" class="big-on-mobile">{{n}}</button>
            <button @click="openPage(page.number + 1)" v-if="page && page.next" class="big-on-mobile"><i class="fa-solid fa-angle-right"></i></button>
            <button v-if="page && page.number + 5 <= page.totalPages" @click="openPage(page.number + 5)" class="big-on-mobile"><i class="fa-solid fa-angles-right"></i></button>
        </div>
   </div>
</template>

<script>
import PageLine from './PageLine';

export default {
    name: 'ProductList',
    components: {
        PageLine
    },
    created() {
        if(!this.page){
            this.$store.dispatch('loadPage',1);
        }
    },
    methods: {
        openPage(number){
            this.$store.dispatch('loadPage',number);
        },
        openProduct(product){
            this.$store.dispatch('setProduct',product);
        },

    },
    computed: {
        viewPortWidth(){
            return document.documentElement.clientWidth || window.innerWidth;
        },
        smallViewPort(){
            return this.viewPortWidth < 600;
        },
        pages(){
            if(this.smallViewPort){
                return [];
            }
            if(!this.page){
                return [];
            }
            let p = [];
            p.push(this.page.number);
            for(var i = 1; i <= 5; i++){
                if(this.page.number - i > 0){
                    p.push(this.page.number - i);
                }
                if(this.page.number + i <= this.page.totalPages){
                    p.push(this.page.number + i);
                }
            }
            return p.sort((a, b) => { return a - b; });
        },
        page(){
            return this.$store.getters.page;
        },
        products(){
            if(this.page){
                return this.page.products;
            }
            return [];
        }
    }
}
</script>

<style scoped>
#productpage{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.page-numbers button{
    border: none;
    border-left: 1px solid #ccc;
    background: none;
    width: 32px;
    font-size: 12px;
}
.page-numbers button:first-child {
    border-left: none;
}
.page-numbers .current{
    background: #ACD5FF;
}
.page-numbers button:hover{
    background: #ccc;
}
@media screen and (max-width: 600px) {
    .hide-on-mobile{
        display: none;
    }
    .big-on-mobile{
        width: 50px !important;
        height: 50px;
        display: flex;
        font-size: 16px !important;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .big-on-mobile i{
        font-size: 20px;
    }
}
</style>
