<template>
    <div class="w-100">
        <div id="productPage" class="container">
            <div class="row">
                <div class="col-12"><h1 class="h4">{{product.name}}</h1></div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12 line"><strong>id:</strong> {{product.id}}</div>
                <div class="col-lg-6 col-12 line"><strong>supplier:</strong> {{product.supplier}}</div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12 line"><strong>season:</strong> {{product.season}}</div>
                <div class="col-lg-6 col-12 line"><strong>family:</strong> {{product.family}}</div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12 line"><strong>subfamily:</strong> {{product.subfamily}}</div>
                <div class="col-lg-6 col-12 line"><strong>type:</strong> {{product.type}}</div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12 line"><strong>fabric:</strong> {{product.fabric}}</div>
                <div class="col-lg-6 col-12 line"><strong>currency:</strong> {{product.currency}}</div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xs-12 mt-5 mb-1">
                    <div class="w-100"><strong>description:</strong></div>
                    <div class="w-100" v-html="product.description"></div>
                </div>
                <div class="col-lg-6 col-12 mt-5 mb-1">
                    <div class="w-100"><strong>variants:</strong></div>
                    <variant v-for="item in product.variants" :key="item.ean" :variant="item" />
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import Variant from './Variant';

export default {
    name: 'ProductPage',
    components: {
        Variant
    },
    methods: {
    },
    computed: {
        product(){
            return this.$store.getters.product;
        }
    }
}
</script>
<style scoped>
#productPage{
    font-size: 13px;
}
#productPage .line{
    margin-top: 14px;
    border-bottom: 1px solid #ccc;
}
</style>