<template>
    <div class="w-100">
        <div class="variant-box py-1 mb-2 container">
            <div class="row action" @click="details">
                <div class="col">{{variant.reference}}</div>
                <div class="col-auto">
                    <i v-if="!open" class="fa-solid fa-angle-down"></i>
                    <i v-else class="fa-solid fa-angle-up"></i>
                </div>
            </div>
            <div v-if="open" class="row m-0 pb-3 pt-2">
                <div v-for="property in properties.keys()" :key="property" class="col-12">
                    <strong>{{property}}:</strong> {{properties.get(property)}}
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import VariantObj from '../models/Variant';

export default {
    name: 'ProductVariant',
    props: {
        variant: VariantObj
    },
    data(){
        return {
            open: false,
            properties: null
        }
    },
    methods: {
        details(){
            if(!this.properties){
                this.properties = this.variant.getProperties();
            }
            this.open = !this.open;
        }
    }
}
</script>
<style scoped>
.variant-box{
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px #ccc;
}
.variant-box .action{
    cursor: pointer;
}
</style>