<template>
    <div class="layer">
        <div class="content">
            <div class="login">
                <div class="form">
                    <label>Email </label>
                    <input type="email" v-model="login">
                    <label>Password: </label>
                    <input type="password" v-model="password">
                </div>
                <div class="error">{{errorLogin}}</div>
                <div class="actions">
                    <button v-if="!loadding" @click="loginUser()">Enter</button>
                    <div v-else>loadding ...</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Api from '../models/ApiCall';

export default {
    name: 'WelcomeLogin',
    data(){
        return {
            login: '',
            password: '',
            errorLogin: '',
            loadding: false
        }
    },
    methods: {
        async loginUser(){
            this.errorLogin = '';
            this.loadding = true;
            Api.login(this.login, this.password).then( data => {
                if(!data.error && 'jwt' in data && 'expiration_time' in data){
                    this.$store.dispatch('setToken',{
                        token: data.jwt,
                        expiration: new Date(data.expiration_time * 1000)
                    });
                }else{
                    this.errorLogin = data.message ? data.message : 'Error, please try again!';
                }
                this.loadding = false;
            });
        }
    }
}
</script>

<style scoped>
.layer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.4);
}
.error, .success{
    text-align: center;
    color: red;
    padding-top: 10px;
}
.success{
    color: green;
}
.title{
    font-size: 20px;
    text-align: center;
    line-height: 1;
    padding-top: 20px;
}
.login, .register{
    background-color: #fff;
    width: 350px;
    height: 300px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}
.form{
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
}
.login .form{
    padding-top: 50px;
}
.form label{
    padding-top: 10px;
    padding-bottom: 5px;
}
.form input{
    font-size: 16px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #0086b3;
}
.actions{
    width: 100%;
    height: 40px;
    bottom: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
}
.actions button{
    width: 100%;
    border: none;
    font-size: 15px;
    border-top: 1px solid #0086b3;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
</style>