<template>
  <div id="app">
    <dash-board v-if="hasLogin"></dash-board>
    <welcome v-if="!hasLogin"></welcome>
  </div>
</template>

<script>
import DashBoard from './components/DashBoard';
import Welcome from './components/Welcome';

export default {
  components: {
      DashBoard,
      Welcome
  },
  name: 'app',
  data () {
      return{}
  },
  created() {
    this.$store.dispatch('loadToken',{});
  },
  computed: {
      hasLogin(){
          return this.$store.getters.token !== null;
      }
  }
}
</script>
<style>
  @import './assets/styles.css';
</style>
